-e .
bump2version==1.0.1
wheel==0.41.0
watchdog==3.0.0
flake8==6.1.0
tox==4.6.4
coverage==7.2.7
Sphinx==7.1.1
# only used for setup script
# cryptography==1.0.1
py==1.11.0
pytest==7.4.0
PyYAML==5.4.1
prospector[with_everything]==1.7.7
python-dateutil>=2.6.0
requests>=2.18
black>=18.9b0; python_version >= '3.6'
pyOpenSSL==20.0.1
