-e .
bump2version==1.0.1
wheel==0.37.1
watchdog==2.1.6
flake8==4.0.1
tox==3.24.5
coverage==6.3
Sphinx==4.4.0
# only used for setup script
# cryptography==1.0.1
py==1.11.0
pytest==6.2.5
PyYAML==6.0
prospector[with_everything]==1.6.0
python-dateutil>=2.6.0
requests>=2.18
black>=18.9b0; python_version >= '3.6'
pyOpenSSL==22.0.0
