-e .
bump2version==1.0.1
wheel==0.38.4
watchdog==2.2.1
flake8==6.0.0
tox==4.1.2
coverage==7.0.1
Sphinx==6.0.0
# only used for setup script
# cryptography==1.0.1
py==1.10.0
pytest==6.2.4
PyYAML==5.4.1
prospector[with_everything]==1.7.7
python-dateutil>=2.6.0
requests>=2.18
black>=18.9b0; python_version >= '3.6'
pyOpenSSL==20.0.1
