---

extends: default

ignore: |
  */ansible/*
  */playbooks/*
  */cassettes/*
  */fixtures/*

rules:
  braces: disable
  brackets: disable
  colons: disable
  commas:
    level: warning
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: disable
  hyphens:
    level: warning
  indentation:
    level: warning
    indent-sequences: consistent
  trailing-spaces: disable
  new-line-at-end-of-file: disable
  line-length: disable
  truthy: disable
