---

extends: default

ignore: |
  */ansible/*
  */playbooks/*
  */cassettes/*
  */fixtures/*

rules:
  braces: disable
  brackets: disable
  colons: disable
  commas: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: disable
  hyphens: disable
  indentation: disable
  trailing-spaces: disable
  new-line-at-end-of-file: disable
  line-length: disable
  truthy: disable
